.btn {
  padding-top: 9px;
  padding-right: 10px;
  padding-bottom: 11px;
  padding-left: 16px;

  font-size: 16px;
  line-height: 22px;
  color: $asphalt-gray;

  border: 1px solid $asphalt-gray;
  border-radius: 2px;
}
