.main-page {
  width: auto;
}

.main-page__container {
  margin: 0 auto;
  padding: 70px 20px;

  display: grid;
  grid-template-rows: auto auto 1fr;
}

.main-page__title {
  @include text-reset;

  font-size: 20px;
  font-weight: bold;
  line-height: 27px;
}

.main-page__message {
  width: 100%;
  margin-top: 14px;
  padding-top: 36px;
  padding-bottom: 30px;
  padding-left: 56px;

  background-color: $super-light-gray;
}

.main-page__message-text {
  @include text-reset;

  position: relative;
  width: 80%;

  font-size: 15px;
  line-height: 24px;

  opacity: 0.8;

  &::before {
    content: "!";
    position: absolute;

    top: 5px;
    left: -26px;

    width: 15px;
    height: 15px;
    display: flex;
    justify-content: center;
    align-items: flex-start;

    font-size: 10px;
    line-height: 14px;
    color: $white;

    background-color: $orange;
    border-radius: 50%;
  }
}

.main-page__reviews {
  margin-top: 32px;
}
