.rating {
  width: auto;
  display: flex;
  flex-wrap: wrap;
}

.rating__wrapper {
  position: relative;

  width: 75px;
  height: 11px;

  background-image: url("../img/rating-star-off.svg");
  background-size: 15px 11px;
}

.rating__input {
  position: absolute;
  top: 0;
  left: 0;

  height: 11px;
  margin: 0;

  background-size: 15px 11px;
  appearance: none;

  &:first-child {
    z-index: 5;
    width: 15px;
  }

  &:nth-of-type(2) {
    z-index: 4;
    width: 30px;
  }

  &:nth-of-type(3) {
    z-index: 3;
    width: 45px;
  }

  &:nth-of-type(4) {
    z-index: 2;
    width: 60px;
  }

  &:last-child {
    z-index: 1;
  }

  &:focus {
    outline: none;
  }

  &:checked {
    background-image: url("../img/rating-star-on.svg");
  }
}

.rating__total-count {
  @include text-reset;

  margin-top: -4px;
  margin-left: 6px;

  font-weight: bold;
  color: $gray;
}

.rating__results-list {
  @include list-reset;

  display: flex;
  flex-wrap: wrap;
}

.rating__results-item {
  margin-right: 14px;

  color: $gray;
}

.rating__results-index {
  font-weight: bold;
}
