.reviews {
  width: auto;
}

.reviews__header {
  display: none;
}

.reviews__list {
  @include list-reset;

  width: 100%;
  margin: 0 auto;
  display: grid;
  grid-template-rows: auto auto;
}

@media (min-width: $desktop-width) {
  .reviews {
    display: grid;
    grid-template-columns: repeat(5, auto);
    grid-template-rows: auto 1fr;
    grid-auto-flow: column;
  }

  .reviews__header {
    display: flex;
    padding-top: 10px;
    padding-bottom: 11px;
    padding-left: 17px;

    border: 1px solid $very-light-gray;
  }

  .reviews___header-item {
    &:nth-child(2) {
      margin-left: 29px;
    }

    &:nth-child(3) {
      margin-left: 36px;
      min-width: 370px;
      width: 38%;
    }

    &:nth-child(4) {
      width: auto;
      margin-left: 27px;
    }

    &:last-child {
      width: auto;
      margin-left: 40px;
    }
  }

  .reviews___header-text {
    @include text-reset;

    font-size: 13px;
    line-height: 18px;
    color: $asphalt-gray;
  }
}

@media (min-width: $wide-desktop-width) {
  .reviews___header-text {
    @include text-reset;

    font-size: 14px;
    line-height: 18px;
    color: $asphalt-gray;
  }
}
