.review {
  width: auto;
  display: flex;
  flex-wrap: wrap;
  padding: 20px;
  padding-top: 17px;

  border: 1px solid $light-gray;

  &--followed-by-extended {
    border-bottom: none;
  }

  &--extended {
    position: relative;

    padding-top: 12px;

    border-top: none;

    &::before {
      @include pseudo;

      top: 0;
      left: 20px;
      right: 20px;

      width: auto;
      height: 1px;

      background-color: $very-light-gray;
    }
  }
}

.review__title {
  @include text-reset;

  order: 3;
  width: 82%;
  padding-top: 8px;
  padding-left: 14px;

  font-weight: normal;

  &--extended-orange {
    order: -2;
    padding: 0;

    color: $orange;
  }
}

.review__title-link {
  font-size: 14px;
  color: inherit;
}

.review__main-image-wrapper {
  order: 2;
  margin-top: 13px;
}

.review__main-image {
  height: 40px;
}

.review__status {
  order: 1;

  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;

  &--extended {
    order: -1;
    padding-top: 10px;
  }
}

.review__date {
  line-height: 16px;
  color: $gray;
}

.review__publication-status {
  display: inline-block;
  padding: 4px 8px;

  font-size: 10px;
  line-height: 14px;
  text-transform: uppercase;
  color: $white;

  border-radius: 2px;

  &--published {
    background-color: $green;
  }

  &--moderation {
    background-color: rgba(80, 173, 1, 0.6);
  }

  &--unpublished {
    background-color: $dark-gray;
  }
}

.review__details {
  order: 4;

  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.review__rating {
  margin-top: 22px;
}

.review__text {
  @include text-reset;

  width: 100%;
  max-width: 900px;
  margin-top: 10px;

  letter-spacing: 0.25px;
}

.review__btn-more {
  @include btn-reset;

  position: relative;

  margin-top: 5px;

  font-size: 14px;
  line-height: 22px;
  color: $orange;

  &::before,
  &::after {
    @include pseudo;

    top: 8px;

    display: block;
    width: 2px;
    height: 7px;

    background-color: $orange;
  }

  &::before {
    right: -13px;
  }

  &::after {
    right: -17px;
  }

  &--hide {
    &::before {
      transform: rotate(-45deg);
    }

    &::after {
      transform: rotate(45deg);
    }
  }

  &--show {
    &::before {
      transform: rotate(45deg);
    }

    &::after {
      transform: rotate(-45deg);
    }
  }
}

.review__btn {
  @include btn-reset;

  order: 5;
  margin-top: 15px;
}

.review__images-wrapper {
  display: grid;
  grid-template-columns: 70px 70px;
  gap: 10px;
  margin-top: 9px;
}

.review__image-link {
  z-index: 100;
}

.review__image-wrapper {
  padding-top: 8px;
  padding-bottom: 8px;

  border: 1px solid $light-gray-yellow;
}

.review__image {
  display: block;
}

.review__system-message {
  @include text-reset;

  order: 3;
  margin-top: 14px;

  letter-spacing: 0.25px;
  color: $asphalt-gray;
}

@media (min-width: $tablet-width) {
  .review {
    display: grid;
    grid-template-areas:
      "img title status"
      "details details details"
      "btn btn btn";
    grid-template-columns: 40px 2fr 220px;


    &--extended {
      padding-top: 15px;
    }
  }

  .review__title {
    grid-area: title;

    padding-top: 0;

    &--extended-orange {
      grid-column: 1 / 3;
    }
  }

  .review__main-image-wrapper {
    grid-area: img;

    margin-top: 0;
  }

  .review__status {
    grid-area: status;

    margin-top: -20px;

    &--extended {
      padding-top: 22px;
    }
  }

  .review__details {
    grid-area: details;
  }

  .review__btn {
    grid-area: btn;
  }

  .review__system-message {
    grid-column: 1 / 3;
  }
}

@media (min-width: $desktop-width) {
  .review {
    display: flex;
    padding-top: 11px;
    padding-right: 0;
    padding-left: 17px;

    border: none;
    border-bottom: 1px solid $light-gray;

    &--followed-by-extended {
      border-bottom-color: transparent;
    }

    &--extended {
      &::before {
        left: 265px;
        right: 0;
      }
    }
  }

  .review__title {
    order: 2;
    width: 153px;
    margin-left: 22px;
    padding: 0;

    &--extended-orange {
      position: relative;
      left: 218px;

      font-size: 12px;
      line-height: 22px;
    }
  }

  .review__title-link {
    font-size: 12px;
    line-height: 16px;
  }

  .review__main-image-wrapper {
    order: 1;
    margin-top: 5px;
  }

  .review__text {
    margin-top: 17px;
  }

  .review__btn-more {
    margin-top: 7px;

    font-size: 11px;
    line-height: 20px;
  }

  .review__btn {
    height: 38px;
    margin-top: 0;
    margin-left: 35px;
  }

  .review__status {
    order: 4;
    width: auto;
    display: flex;
    flex-direction: column-reverse;
    justify-content: flex-end;
    align-items: flex-start;
    margin-top: 0;
    margin-left: 27px;

    &--extended {
      padding-top: 0;
      padding-left: 38px;
    }
  }

  .review__date {
    margin-top: 7px;
  }

  .review__details {
    order: 3;
    min-width: 370px;
    width: 38%;
    margin-top: 4px;
    margin-left: 27px;
    padding-left: 0;

    &--extended {
      padding-top: 10px;
      padding-left: 38px;
    }
  }

  .review__rating {
    margin-top: 0;

    &--desktop {
      display: none;
    }
  }

  .review__system-message {
    min-width: 370px;
    width: 38%;
    margin: 0;
    margin-left: 27px;
    padding-top: 6px;
    padding-left: 0;
  }
}

@media (min-width: $wide-desktop-width) {
  .review {
    &--extended {
      &::before {
        left: 270px;
      }
    }
  }

  .review__title-link,
  .review__text,
  .review__system-message {
    font-size: 14px;
    line-height: 18px;
  }

  .review__title {
    &--extended-orange {
      left: 231px;

      font-size: 14px;
    }
  }

  .review__details,
  .review__system-message {
    margin-left: 40px;
  }

  .review__btn-more {
    margin-top: 10px;

    font-size: 13px;
  }

  .review__btn {
    margin-left: 43px;
  }
}
