$white: #ffffff;
$light-gray-yellow: #ebebea;
$super-light-gray: #f7f7f7;
$light-gray: #e8e7e7;
$asphalt-gray: #979797;
$gray: #afafaf;
$dark-gray: #a0a0a0;
$super-dark-gray: #383838;

$green: #50ad01;
$orange: #ff6d00;
